

.vv-distort-bg {
	background-color: var(--item-bg);
	height: 100vw;
}

.vv-distort-img {
	display: block;
	height: 100%;
	width: 100%;
}

.vv-distort-img canvas {
	height: 100%;
}

.vv-distort-img img {
	height: 100%;
	display: block;
}

.js .vv-distort-img img {
	display: none;
}



.distortion {
	--item-bg: rgba(0,0,0,0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}
